<ion-view title="Total Recall">
  <ion-content class="padding">
    <h1>{{crud == 'create' ? 'Create Object' : 'Modify Object'}}</h1>
    <div class="list" id="create-object-list">
      <div class="item item-input">
        <input type="text" placeholder="Name" ng-model="object.name">
      </div>
      <div class="item item-input item-select">
        <div class="input-label">Type</div>
        <select ng-model="object.type" ng-options="i for i in availableTypes">
          <option value="">-- Choose type --</option>
        </select>
      </div>
      <div class="item item-input">
        <textarea type="text" class="notes" placeholder="Notes" ng-model="object.notes"></textarea>
      </div>
      <div class="item item-toggle">
         Emergency
         <label class="toggle toggle-assertive">
           <input type="checkbox" ng-model="object.emergency">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </div>
    </div>
    <button class="button button-full button-positive" ng-click="create(object)">{{crud == 'create' ? 'Create Object' : 'Modify Object'}}</button>

  </ion-content>
</ion-view>
