<ion-view title="{{navPage.title}}">

    <ion-nav-buttons side="right">
      <button class="icon ion-search button button-icon" ng-click="navPage.search()">
      </button>
    </ion-nav-buttons>

  <div class="bar bar-subheader">
    <button class="icon ion-chevron-left button button-icon" ng-show="navPage.hasBack" ng-click="navPage.back()">
    </button>
    <h2 class="title">{{navPage.subtitle}}</h2>
  </div>
  <ion-content class="has-header has-subheader padding">
      <div ng-transclude></div>
  </ion-content>
</ion-view>
