<tr-view>
  <div class="list">


    <div class="item item-input">
      <input type="text" placeholder="Name" ng-model="object.name">
    </div>

    <br />

    <!--
    Email, Phone, Address
      Types: Person, Place
    -->
    <div show-for-only="Person,Place" singular="object.type">
      <div class="item item-input">
        <input type="email" placeholder="Email" ng-model="object.email">
      </div>

      <div class="item item-input">
        <input type="text" placeholder="Phone" ng-model="object.phone">
      </div>

      <div class="item item-input">
        <input type="text" placeholder="Street" ng-model="object.address.street">
      </div>
      <div class="item item-input">
        <input type="text" placeholder="City" ng-model="object.address.city">
        <input type="text" placeholder="Zip" ng-model="object.address.zip">
      </div>

      <br />
    </div>

    <div class="item item-input">
      <textarea class="notes" placeholder="Notes" ng-model="object.notes"></textarea>
    </div>

    <br />

    <div class="item item-toggle">
       Emergency
       <label class="toggle toggle-assertive">
         <input type="checkbox" ng-model="object.emergency">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </div>

    <br />

    <div class="item">
      <span class="input-label">Attachment:</span>
      <img src="{{object.attachment}}" class="object-icon" alt="No attachment selected" /><br />
      <button type="button" ng-click="attachment()" class="button">Add new atachment</button>
    </div>
    <div class="item">
      <span class="input-label">Icon:</span>
      <img src="{{object.icon}}" class="object-icon" alt="No icon selected" /><br />
      <button type="button" ng-click="icon()" class="button">Add new icon</button>
    </div>



  </div>

  <button class="button button-full button-positive" ng-click="save(object)">Save</button>
</tr-view>
