<ion-view title="Total Recall">
  <ion-content class="padding">
    <h1>People</h1>

    <div class="card" ng-repeat="object in objects">
      <div class="item item-avatar">
        <img src="http://placehold.it/150x150" />
        <h2>{{object.name}}</h2>
        <p>{{object.notes}}</p>
      </div>

       <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ui-sref="nav.manage-object({crud: 'modify', id: object.id})">
          <i class="icon ion-edit"></i>
          Modify
        </a>
        <a class="tab-item" ng-click="delete(object)">
          <i class="icon ion-trash-b"></i>
          Delete
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
